/.bash_history
/.bashrc
/.cache
/.codex
/.conda
/.condarc
/.config
/.copilot
/.dotnet
/.gitconfig
/.ipynb_checkpoints
/.ipython
/.jupyter
/.local
/.nv
/.profile
/.ssh
/.triton
/.vscode-server
/.wget-hsts
/autodl-tmp
/data
/miniconda3
/tf-logs
/autodl-fs
/autodl-pub